
<div class="col-sm-10" >
  <%= render partial:'/aircond_groups/aircond_index'%>
</div>

<div class="col-sm-2" style = 'border-left-style: solid;border-bottom-style: solid; padding: 20px;text-align : right'>
  <%= render partial:'/users/currenttime'%>
  <%= render partial:'/aircond_groups/form'%>

  <div style = 'border-top-style:solid'>
    <%= render @aircond_groups%>
    <br>
    <div >
      <%= button_tag 'ALL', class:'form-control' %>
    </div>
  </div>
</div>


