<div class="col-sm-10" >
    <h1>Aircond Status</h1>
<!--     <%= form_for @aircond, html:{id:'edit_aircond_settings'} do |form|%>
      <%= render partial: 'form', object:form%>
    <%end%> -->
        <%= flash[:warning]%>
        <%= flash[:notice]%>
    <br>
    <%= form_for @aircond, html:{id:'edit_aircond_settings'} do |form|%>

      <div class = 'col-sm-8'>
        <div class = 'col-sm-12' style='height:100px'>
          <%= form.text_field :alias, {class:'form-control',style:'width:auto;height:auto;font-size:30px'}%>    
        </div>
        <div class = 'col-sm-12' id = ac_mode style='height:100px'>  
          <%= form.select :mode,Aircond.modes.keys, {}, {class:'form-control',style:'display:none'} %>
        <div class = 'col-sm-2'><span>Mode</span></div>
        <% Aircond.modes.keys.each do |key|%>
          <% state = 'off'%>
          <% state = 'on' if key == @aircond.mode%>
            <div class = 'col-sm-2'><%= image_tag("/NEXT-AC-assets/mode-#{key.downcase}-#{state}.png",class:'fit-img-size ', align:'middle' )%></div>
        <% end %>
        </div>
        <div class = 'col-sm-12 ' id = ac_fan_speed style='height:100px'>
            <%= form.select :fan_speed, @fan_speed_selection, {}, {class:'right_align form-control',style:'display:none'} %>
            <div class = 'col-sm-2'><span>Fan Speed</span></div>
            <% Aircond.fan_speeds.keys.each do |key| %>
              <div class = 'col-sm-2' id = <%="speed_#{key.to_s.downcase}"%>>
              <% if @fan_speed_selection.include?(key)%>
                <% state = 'off'%>
                <% state = 'on' if key == @aircond.fan_speed%>
                <%= image_tag("/NEXT-AC-assets/speed-#{key.to_s.downcase}-#{state}.png",class:'fit-img-size ', align:'middle' )%> 
              <% end %>
              </div>
            <% end %>
        </div>
      </div>

      <div class = 'col-sm-4' >
        <div class = 'col-sm-12' id = ac_status>
          <%= form.select :status, Aircond.statuses.keys, {}, {class:'right_align form-control',style:'display:none'}%>
          <div >
            <% status = @aircond.image_new(:status)%>
              <%= image_tag(status[:img_url],class:'' ,style:'height:300px', align:'middle')%>
          </div>

        </div>

      </div>
      <div class = 'col-sm-12'>
      <div class = 'col-sm-12' id = ac_temperature style='height:100px'>

        <div class = 'col-sm-2'><span>Temperature</span></div>
        <div class = 'col-sm-8' id = 'temp_input'><%= form.range_field :temperature, in: 16..30%></div>
        <div class = 'col-sm-2' id = 'temp_img'>
          <% temperature = @aircond.image_new(:temperature)%>
            <% if temperature[:value] == 'NA'%>
            <% else %>
              <%= image_tag(temperature[:img_url],class:'fit-img-size ', align:'middle' )%>
            <% end %>
        </div>
      </div> 
      </div>
 

      <div class = 'col-sm-12'>
      <%= form.submit 'Set Aircond State',class:"btn btn-primary submit-btn"%>
      </div>  

    <%end%>

</div>

    <div class="col-sm-2" style = 'border-left-style: solid;border-bottom-style: solid; padding: 20px;text-align : right'>
      <%= render partial:'/users/currenttime'%>
      <%= render partial:'aircond_timer_form.html.erb'%>
    </div>
