    <div class="col-sm-10" >
			<h1>Air Conditioners</h1>
				<%= flash[:warning]%>
				<%= flash[:notice]%>
        <span style = 'float:right'><%= link_to 'Mobile Apps', phone_apps_path, method:'get',class:"btn btn-primary get-btn" %></span>

        <div style = 'clear:both'></div>


          <%= render partial:'/aircond_groups/aircond_index'%>

<!--   .row
  .col-sm-4
    .row
      .col-sm-12
        h3 A-G-8
      .col-sm-12
        // AC1
      .col-sm-12
        // AC2
      .col-sm-12
        // AC3 -->

        <div style = 'clear:both'></div>

				<span style= 'float:left'><%= link_to "Add Aircond", new_aircond_path, method:'get',class:"btn btn-primary get-btn" %></span>
        <span style= 'float:left'><%= link_to "Assign Group", aircond_group_dashboard_path, method:'get',class:"btn btn-primary get-btn" %></span>
				<span style= 'float:right'><%= button_to "#ON ALL", set_all_status_path('ON'), style: "width:110px",class:"btn btn-primary submit-btn" %></span>
				<span style= 'float:right'><%= button_to "#OFF ALL", set_all_status_path('OFF'), style: "width:110px",class:"btn btn-primary submit-btn"   %></span>
    </div>


    <div class="col-sm-2" style = 'border-left-style: solid;border-bottom-style: solid; padding: 20px;text-align : right'>
      <%= render partial:'/users/currenttime'%>
    </div>


