    <div class="col-sm-9" >
			<h1>Air Conditioners</h1>
				<%= flash[:warning]%>
				<%= flash[:notice]%>
        <span style = 'float:right'><%= link_to 'Mobile Apps', phone_apps_path, method:'get',class:"btn btn-primary get-btn" %></span>
			<div class = table_container>
      <table class = index id = ac_table style = 'width: 100%'>
				<thead>
					<th>Id</th>
          <th>Alias</th>
					<th>Status</th>
					<th>Mode</th>
					<th>Fan Speed</th>
					<th>Temperature</th>

				</thead>
				<tbody>
					<%= render @airconds%>
				</tbody>
			</table></div>
				<span style= 'float:left'><%= link_to "Add Aircond", new_aircond_path, method:'get',class:"btn btn-primary get-btn" %></span>
				<span style= 'float:right'><%= button_to "#ON ALL", set_all_status_path('ON'), style: "width:110px",class:"btn btn-primary submit-btn" %></span>
				<span style= 'float:right'><%= button_to "#OFF ALL", set_all_status_path('OFF'), style: "width:110px",class:"btn btn-primary submit-btn"   %></span>
    </div>
    <div class="col-sm-3" style = 'border-left-style: solid;border-bottom-style: solid; padding: 20px;text-align : right'>
			<div id=current_time style='font-size: 50px'><span id=current_hour><%= "#{@current_time.hour}".rjust(2,'0')%></span>:<span id=current_min><%="#{@current_time.min}".rjust(2,'0')%></span>:<span id=current_sec><%="#{@current_time.sec}".rjust(2,'0')%></span></div>
    	<%= button_tag 'Set Time Zone', id:'timezone_button', class:"btn btn-primary get-btn"%>
			<%= render 'timeform'%>
			<div>Timezone: <%=current_user.timezone%></div>
    </div>