    <div class="col-sm-10" >
<h1>Mobile Phone Applications</h1>

Fitler: <%= select_tag 'Status', options_for_select(PhoneApp.statuses.keys << "ALL"),class:"form-control"  %>
  <script type="text/javascript">
    $('#Status').on('change',function(){
      var selection = $(this).children('option:selected').text()
      $.ajax({
        type: 'GET',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: '/phone_apps.js',
        data: {filter: selection}
      })
    })
  </script>

  <table class = index style = 'width: 100%'>
    <thead>
      <th>Id</th>
      <th>User Name</th>
      <th>Status</th>
    </thead>
    <tbody>
      <%= render @phone_apps%>
    </tbody>
  </table>
  <%= flash[:notice]%>
  <%= flash[:warning]%>
</div>

    <div class="col-sm-2" style = 'border-left-style: solid;border-bottom-style: solid; padding: 20px;text-align : right'>
      <%= render partial:'/users/currenttime'%>
    </div>